<app-loading [loading]="loading"></app-loading>
<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2>Bem vindo a melhor maneira de TRABALHAR com Móveis Planejados!</h2>
            <p class="lead">Queremos te conhecer! Preencha os campos abaixo</p>
        </div>

        <div>
            <div>
                <form [formGroup]="form" (ngSubmit)="registerProvider()">
                    <app-divider [title]="'Dados da Empresa'"></app-divider>
                    <div class="row mb-3">
                        <div class="col-4">
                            <label for="fantasyName" class="form-label">Nome Fantasia* </label>
                            <input formControlName="fantasyName" type="text" class="form-control" id="fantasyName"
                            placeholder="Nome Fantasia" required />
                            <div class="invalid-feedback">
                                O campo Nome Fantasia é obrigatório.
                            </div>
                        </div>
                        <div class="col-4">
                            <label for="socialReason" class="form-label">Razão Social* </label>
                            <input formControlName="socialReason" type="text" class="form-control" id="socialReason"
                                placeholder="Razão Social" required />
                            <div class="invalid-feedback">
                                O campo Razão Social é obrigatório.
                            </div>
                        </div>
                        <div class="col-4">
                            <label for="cnpj" class="form-label">CNPJ* </label>
                            <input formControlName="cnpj" type="text" class="form-control" id="cnpj" placeholder="CNPJ"
                                required />
                            <div class="invalid-feedback">
                                O campo CNPJ é obrigatório.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <label for="cnpj" class="form-label">Telefone* </label>
                            <input formControlName="phone" type="text" class="form-control" id="phone"
                                placeholder="Telefone" required />
                            <div class="invalid-feedback">
                                O campo Telefone é obrigatório.
                            </div>
                        </div>
                    </div>
                    <app-divider [title]="'Dados de Endereço'"></app-divider>
                    <div formGroupName="address">
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label for="street" class="form-label">Rua* </label>
                                <input formControlName="street" placeholder="Rua" type="text" class="form-control"
                                    id="street" required />
                                <div class="invalid-feedback">O campo Rua é obrigatório.</div>
                            </div>
                            <div class="col-sm-6">
                                <label for="complement" class="form-label">Complemento* </label>
                                <input formControlName="complement" placeholder="Complemento" type="text"
                                    class="form-control" id="complement" required />
                                <div class="invalid-feedback">O campo Complemento é obrigatório.</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="number" class="form-label">Número* </label>
                                <input formControlName="number" placeholder="Numero" type="text" class="form-control"
                                    id="number" required />
                                <div class="invalid-feedback">O campo Número é obrigatório.</div>
                            </div>
                            <div class="col-sm-3">
                                <label for="Cep" class="form-label">CEP* </label>
                                <input formControlName="cep" placeholder="CEP" type="text" class="form-control" id="cep"
                                    required />
                                <div class="invalid-feedback">O campo CEP é obrigatório.</div>
                            </div>
                            <div class="col-sm-3">
                                <label for="Sates" class="form-label">Estatdo* </label>
                                <input formControlName="state" placeholder="Estado" type="text" class="form-control"
                                    id="cep" required />
                                <div class="invalid-feedback">O campo Estado é obrigatório.</div>
                            </div>
                            <div class="col-sm-3">
                                <label for="City" class="form-label">Cidade* </label>
                                <input formControlName="city" placeholder="Cidade" type="text" class="form-control"
                                    id="city" required />
                                <div class="invalid-feedback">O campo Cidade é obrigatório.</div>
                            </div>
                        </div>
                    </div>
                    <app-divider [title]="'Dados de Usuário'"></app-divider>
                    <div class="row mb-3" formGroupName="user">
                        <div class="col-sm-4">
                            <label for="userName" class="form-label">Nome de Usuário* </label>
                            <input formControlName="userName" placeholder="Nome de Usuário" type="text"
                                class="form-control" id="userName" required />
                            <div class="invalid-feedback">O campo Nome de Usuário é obrigatório.</div>
                        </div>
                        <div class="col-sm-4">
                            <label for="email" class="form-label">E-mail* </label>
                            <input formControlName="email" placeholder="E-mail" type="email" class="form-control"
                                id="email" required />
                            <div class="invalid-feedback">O campo E-mail é obrigatório.</div>
                        </div>
                        <div class="col-sm-4">
                            <label for="password" class="form-label">Senha* </label>
                            <input formControlName="password" placeholder="Senha" type="password" class="form-control"
                                id="password" required />
                            <div class="invalid-feedback">O campo Senha é obrigatório.</div>
                        </div>
                    </div>
                    <div class="row">
                        <button class="w-100 btn btn-primary btn-lg" type="submit" [disabled]="!form.valid">
                            Finalizar Cadastro
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>