<app-loading [loading]="loading"></app-loading>
<div class="container">
  <main>
    <div class="py-5 text-center">
      <h1>Bem vindo a melhor maneira de COMPRAR Móveis Planejados!</h1>
      <p class="lead">Queremos te conhecer! Preencha os campos abaixo</p>
    </div>
    <div class="form-content">
      <form [formGroup]="form" (ngSubmit)="registerUser()">
        <app-divider [title]="'Dados Pessoais'"></app-divider>
        <div class="row g-3 mb-3">
          <div class="col-sm-6">
            <po-input p-minlength="5" p-maxlength="30" formControlName="name" id="name" p-placeholder="Nome" required
              p-label="Nome Completo*"></po-input>
            <div class="invalid" formValidator [form]="form" [control]="form.controls.name">Campo inválido.</div>
          </div>

          <div class="col-sm-3">
            <po-input p-minlength="14" formControlName="cpf" p-mask="999.999.999-99" id="cpf" p-placeholder="CPF"
              required p-label="CPF*"></po-input>
            <div class="invalid" formValidator [form]="form" [control]="form.controls.cpf">Campo inválido.</div>
          </div>

          <div class="col-sm-3">
            <po-input p-maxlength="15" formControlName="phone" p-mask="(99) 99999-9999" id="phone"
              p-placeholder="Telefone" required p-label="Telefone*"></po-input>
            <div class="invalid" formValidator [form]="form" [control]="form.controls.phone">
              Campo inválido.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 date-style">
            <po-datepicker p-placeholder="Data de Nascimento" formControlName="birthDate" p-label="Data de Nascimento*" required></po-datepicker>
          </div>
          <div class="col-sm-4 select-style">
            <po-select p-placeholder="Selecione..."  formControlName="sex"  p-label="Sexo*" [p-options]="sexSelectOptions()" 
               [p-required]="true">
            </po-select>
            <div class="invalid" formValidator [form]="form" [control]="form.controls.sex">Campo inválido..</div>
          </div>
          <div class="col-sm-2 select-style">
            <po-select p-placeholder="Selecione..." formControlName="type"  p-label="Perfil*" [p-options]="userTypeSelectOptions()" 
               [p-required]="true">
            </po-select>
            <div class="invalid" formValidator [form]="form" [control]="form.controls.type">Campo inválido.</div>
          </div>
        </div>
        <app-divider [title]="'Dados de Endereço'"></app-divider>
        <div formGroupName="address">
          <div class="row mb-3">
            <div class="col-sm-6">
              <po-input p-minlength="5" p-maxlength="50" formControlName="street" id="street" required
                p-placeholder="Rua" required p-label="Rua*"></po-input>
              <div class="invalid" formValidator [form]="form.controls.address"
                [control]="form.controls.address.get('street')">Campo inválido.</div>
            </div>
            <div class="col-sm-6">
              <po-input formControlName="complement" required p-placeholder="Complemento" required
                p-label="Complemento"></po-input>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <po-input p-minlength="1" p-maxlength="10" formControlName="number" p-placeholder="Numero"
                p-label="Numero*" required></po-input>
              <div class="invalid" formValidator [form]="form.controls.address"
                [control]="form.controls.address.get('number')">Campo inválido.</div>
            </div>
            <div class="col-sm-3">
              <po-input p-minlength="9" formControlName="cep" p-mask="99999-999" p-placeholder="CEP" p-label="CEP*"
                required></po-input>
              <div class="invalid" formValidator [form]="form.controls.address"
                [control]="form.controls.address.get('cep')">Campo inválido.</div>
            </div>
            <div class="col-sm-3">
              <po-input p-minlength="1" p-maxlength="30" formControlName="state" 
                p-placeholder="Estado" p-label="Estado*" required></po-input>
              <div class="invalid" formValidator [form]="form.controls.address"
                [control]="form.controls.address.get('state')">Campo inválido.</div>
            </div>
            <div class="col-sm-3">
              <po-input p-minlength="1" p-maxlength="30" formControlName="city" p-placeholder="Cidade" p-label="Cidade*"
                required></po-input>
              <div class="invalid" formValidator [form]="form.controls.address"
                [control]="form.controls.address.get('city')">Campo inválido.</div>
            </div>
          </div>
        </div>
        <app-divider [title]="'Dados de Usuário'"></app-divider>
        <div class="row mb-3" formGroupName="user">
          <div class="col-sm-4">
            <po-input p-minlength="3" p-maxlength="20" formControlName="userName" p-placeholder="Nome de Usuário"
              p-label="Nome de Usuário*" required></po-input>
            <div class="invalid" formValidator [form]="form.controls.user"
              [control]="form.controls.user.get('userName')">Campo inválido.</div>
          </div>
          <div class="col-sm-4 email-style">
            <po-email formControlName="email" p-placeholder="E-mail" p-label="E-mail*" required></po-email>
            <div class="invalid" formValidator [form]="form.controls.user" [control]="form.controls.user.get('email')">
              Campo inválido.</div>
          </div>
          <div class="col-sm-4 password-style">
            <po-password p-minlength="6" p-maxlength="20" formControlName="password" p-placeholder="Senha*"
              name="password" p-label="Senha*" required></po-password>
            <div class="invalid" formValidator [form]="form.controls.user"
              [control]="form.controls.user.get('password')">Campo inválido.</div>
          </div>
        </div>
        <div class="row mt-4 mb-5">
          <button class="w-100 btn btn-primary btn-lg" type="submit" [disabled]="!form.valid">
            Finalizar Cadastro
          </button>
        </div>
      </form>
    </div>

  </main>
</div>