::ng-deep .po-accordion-item-header-title {
    color: maroon;
    text-align: center;
}

::ng-deep .po-icon.po-icon-arrow-down:before, .po-icon.po-icon-arrow-down:before {
    color: maroon; 
}

::ng-deep .po-icon.po-icon-arrow-down:before {
    color: white;
}

.cancel ::ng-deep .po-button {
    color:white;
    background-color: red;
    border-color: red;
}

.cancel ::ng-deep .po-button:hover {
    color:white;
    background-color: gray;
    border-color: gray;
}

.po-icon.po-icon-upload-cloud:before {
    font-size: 45px;
    color: maroon;
    margin-left: 100%;
}

.history {
    font-size: 45px;
    color: white;
    display: inline-block;
    margin-left: 20%;
}

.history:hover {
    color: maroon;
}
 
.header-view {
    padding: 3%;
    border-radius: 6px;
    font-size: 15px;
    color: white;
    background-color: rgba(178,34,34,0.6);
}

.strong-label {
    font-weight: bolder;
    color: maroon;
    font-size: 16px;
}

.divider {
    margin: 6% 0 4% 0;
    padding: 0 0.5%;
}

.divider-information {
    margin-bottom: 5%;
    padding: 0 0.2%;
}

.accordion-style {
    margin: 3% 0;
    padding: 0 1%;
}

.description {
    resize: none
}

.description-room {
    padding: 1%;
}

.provider-confirmation {
    padding: 2%;
}

.provider-confirmation-buttons ::ng-deep .po-md-3  {
    margin-left: 0.7%;
}