::ng-deep .po-accordion-item-header-title {
    color: maroon;
    text-align: center;
}

::ng-deep .po-icon.po-icon-arrow-down:before, .po-icon.po-icon-arrow-down:before {
    color: maroon; 
}

::ng-deep .po-icon.po-icon-arrow-down:before {
    color: white;
}

.reject ::ng-deep .po-button-danger:hover {
    background-color: #c64840;
    border: 1px solid #c64840;
    color: white;
}

.cancel ::ng-deep .po-button {
    color:red;
    background-color: white;
    border-color: red;
}

.cancel ::ng-deep .po-button:hover {
    color:white;
    background-color: red;
    border-color: red;
}

.po-icon.po-icon-upload-cloud:before {
    font-size: 45px;
    color: maroon;
    margin-left: 100%;
}

.history {
    font-size: 45px;
    color: grey;
    display: inline-block;
    margin-left: 20%;
}

.history:hover {
    color: maroon;
}
 
.header-view {
    padding: 2%;
    border-radius: 6px;
    font-size: 15px;
    color: grey;
}

.strong-label {
    font-weight: bolder;
    color: maroon;
    font-size: 16px;
}

.divider {
    margin: 6% 0 4% 0;
    padding: 0 0.5%;
}

.divider-information {
    margin-bottom: 5%;
    padding: 0 0.2%;
}

.accordion-style {
    margin: 3% 0;
    padding: 0 1%;
}

.description {
    resize: none
}

.description-room {
    padding: 1%;
}

.provider-confirmation {
    padding: 2%;
}

.provider-confirmation-buttons ::ng-deep .po-md-3  {
    margin-left: 0.7%;
}

.invalid {
    opacity: 0;
}

.date-style ::ng-deep .po-icon.po-icon-arrow-right:before {
    color: maroon;
}
  
.date-style ::ng-deep .po-icon.po-icon-arrow-left:before{
    color: maroon;
}

.date-style ::ng-deep .po-icon.po-icon-calendar:before {
    color: maroon;
}
.date-style ::ng-deep .po-calendar-nav .po-calendar-nav-title{
    color: maroon;
}

.value-style ::ng-deep .po-field-icon {
    color: maroon;
}
  