<app-loading [loading]="loading"></app-loading>
<po-modal p-size="xl" class="view-modal" [p-hide-close]="true" [p-primary-action]="close">
    <div *ngIf="solicitation">
        <div class="header-view">
            <div class="row">
                <div class="col-md-3">
                    <label class="strong-label">Status</label>
                </div>
                <div class="col-md-3">
                    <label class="strong-label">Data de Criação</label>
                </div>
                <div class="col-md-3">
                    <label class="strong-label">Data de Atualização</label>
                </div>
                <div class="col-md-3">
                    <label class="strong-label">Data de Entrega</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>{{ solicitation.status }}</label>
                </div>
                <div class="col-md-3">
                    <label>{{ solicitation.createdAt }}</label>
                </div>
                <div class="col-md-3">
                    <label>{{ solicitation.updatedAt }}</label>
                </div>
                <div class="col-md-3">
                    <label>{{ solicitation.solicitationEndDate }}</label>
                </div>
            </div>
            <div class="row mt-5" *ngIf="userType == 2">
                <div class="col-md-3">
                    <label class="strong-label">Acessor</label>
                    <div>
                        <label>{{ solicitation.accessor }}</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="strong-label">Fornecedor</label>
                    <div>
                        <label>{{ solicitation.provider }}</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="strong-label">Valor</label>
                    <div>
                        <label *ngIf="value != 'Não Definido'; else undefinedValue">{{ value | currency: 'BRL' }}</label>
                        <ng-template #undefinedValue>
                            <label>{{value}}</label>
                        </ng-template>
                    </div>
                </div>
                <div class="col-md-2">
                    <span class="po-icon po-icon-upload-cloud"></span>
                </div>
                <div class="col-md-2">
                    <div class="history">
                        <span (click)="openHistory()" class="po-icon po-icon-history"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-5" *ngIf="userType == 1">
                <div class="col-md-3">
                    <label class="strong-label">Cliente</label>
                    <div>
                        <label>{{ solicitation.client }}</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="strong-label">Fornecedor</label>
                    <div>
                        <label>{{ solicitation.provider }}</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="strong-label">Valor</label>
                    <div>
                        <label *ngIf="value != 'Não Definido'; else undefinedValue">{{ value | currency: 'BRL' }}</label>
                        <ng-template #undefinedValue>
                            <label>{{value}}</label>
                        </ng-template>
                    </div>
                </div>
                <div class="col-md-2">
                    <span class="po-icon po-icon-upload-cloud"></span>
                </div>
                <div class="col-md-2">
                    <div class="history">
                        <span (click)="openHistory()" class="po-icon po-icon-history"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-5" *ngIf="userType == 3">
                <div class="col-md-3">
                    <label class="strong-label">Acessor</label>
                    <div>
                        <label>{{ solicitation.accessor }}</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="strong-label">Cliente</label>
                    <div>
                        <label>{{ solicitation.client }}</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="strong-label">Valor</label>
                    <div>
                        <label *ngIf="value != 'Não Definido'; else undefinedValue">{{ value | currency: 'BRL' }}</label>
                        <ng-template #undefinedValue>
                            <label>{{value}}</label>
                        </ng-template>
                    </div>
                </div>
                <div class="col-md-2">
                    <span class="po-icon po-icon-upload-cloud"></span>
                </div>
                <div class="col-md-2">
                    <div class="history">
                        <span (click)="openHistory()" class="po-icon po-icon-history"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider">
            <app-divider [title]="'Comodos'"></app-divider>
        </div>
        <app-table [height]="400" [columns]="getColumnsRoom()" [items]="solicitation.rooms"></app-table>

        <div *ngIf="status == 2 && userType == 2" class="po-row po-mt-2 po-mb-3  operation-buttons">
            <div class="po-md-3">
                <po-button (p-click)="approve()" [p-disabled]="!buttonActivate" p-icon="po-icon po-icon-ok"
                    p-label="Aprovar solicitação" p-type="primary"></po-button>
            </div>
            <div class="po-md-3">
                <po-button (p-click)="reject()" class="reject" [p-disabled]="!buttonActivate"
                    p-icon="po-icon po-icon-close" p-label="Recusar solicitação" p-type="danger"></po-button>
            </div>
            <div class="po-md-3">
                <po-button (p-click)="cancel()" p-icon="po-icon po-icon-delete" [p-disabled]="!buttonActivate"
                    class="cancel" p-label="Cancelar solicitação" p-type="danger"></po-button>
            </div>
        </div>

        <div *ngIf="status == 1 && userType == 2" class="po-row po-mt-2 po-mb-3 operation-buttons">
            <div class="po-md-4">
                <po-button (p-click)="cancel()" p-icon="po-icon po-icon-delete" [p-disabled]="!buttonActivate"
                    class="cancel" p-label="Cancelar solicitação" p-type="danger"></po-button>
            </div>
        </div>

        <div *ngIf="(status == 1 || status == 6) && userType == 1" class="po-row po-mt-2 po-mb-3  operation-buttons">
            <div class="po-md-4">
                <po-button (p-click)="accessorAccept()" [p-disabled]="!buttonActivate" p-icon="po-icon po-icon-ok"
                    p-label="Aceitar solicitação" p-type="primary"></po-button>
            </div>
        </div>

        <div *ngIf="status == 3  && userType == 1" class="po-row po-mt-2 po-mb-3  operation-buttons">
            <div class="po-md-4">
                <po-button (p-click)="accessorSend()" [p-disabled]="!buttonActivate" p-icon="po-icon po-icon-ok"
                    p-label="Enviar solicitação" p-type="primary"></po-button>
            </div>
        </div>

        <div *ngIf="((status == 4 && !validProviderExist()) || status == 6 ) && userType == 3"
            class="po-row po-mt-2 po-mb-3  operation-buttons">
            <div class="po-md-4">
                <po-button (p-click)="providerAccept()" [p-disabled]="!buttonActivate" p-icon="po-icon po-icon-ok"
                    p-label="Aceitar solicitação" p-type="primary"></po-button>
            </div>
        </div>

        <div *ngIf="status == 3  && userType == 3" class="po-row po-mt-2 po-mb-3  operation-buttons">
            <div class="po-md-4">
                <po-button (p-click)="openSendValue()" [p-disabled]="!buttonActivate" p-icon="po-icon po-icon-ok"
                    p-label="Enviar solicitação" p-type="primary"></po-button>
            </div>
        </div>

        <div *ngIf="status == 4  && userType == 3 && validProviderExist()" class="po-row po-mt-2 po-mb-3  operation-buttons">
            <div class="po-md-4">
                <po-button (p-click)="done()" [p-disabled]="!buttonActivate" p-icon="po-icon po-icon-ok"
                    p-label="Encerrar solicitação" p-type="primary"></po-button>
            </div>
        </div>
    </div>
</po-modal>
<app-show-informations #information>
    <div *ngIf="roomColumn">
        <din class="po-row">
            <div class="col-md-6">
                <div class="divider-information">
                    <app-divider [title]="'Comodo: ' + roomColumn.name"></app-divider>
                </div>
            </div>
            <div class="col-md-6">
                <div class="divider-information">
                    <app-divider [title]="'M²: ' + roomColumn.metreage"></app-divider>
                </div>
            </div>
        </din>
        <div class="po-row mt-3 description-room">
            <label class="strong-label form-label">Descrição</label>
            <textarea readonly [value]="roomColumn.description" class="form-control description" id="description"
                rows="8"></textarea>
        </div>
        <div class="accordion-style">
            <div class="divider-information">
                <app-divider [title]="'Móveis'"></app-divider>
            </div>
            <po-accordion>
                <po-accordion-item *ngFor="let furniture of roomColumn.furnitures" [p-label]="furniture.name">
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <label class="strong-label">Móvel</label>
                        </div>
                        <div class="col-md-3">
                            <label class="strong-label">Altura (M)</label>
                        </div>
                        <div class="col-md-3">
                            <label class="strong-label">Largura (M)</label>
                        </div>
                        <div class="col-md-3">
                            <label class="strong-label">Comprimento (M)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>{{ furniture.name }}</label>
                        </div>
                        <div class="col-md-3">
                            <label>{{ furniture.height }}</label>
                        </div>
                        <div class="col-md-3">
                            <label>{{ furniture.width }}</label>
                        </div>
                        <div class="col-md-3">
                            <label>{{ furniture.length }}</label>
                        </div>
                    </div>
                    <div class="po-row mt-3 mb-3">
                        <label class="strong-label form-label">Descrição</label>
                        <textarea readonly [value]="furniture.description" class="form-control description"
                            id="description" rows="8"></textarea>
                    </div>
                </po-accordion-item>
            </po-accordion>
        </div>
    </div>
</app-show-informations>
<app-show-informations [name]="'Enviar Solicitação'" #providerConfirmation>
    <form [formGroup]="form">
        <div class="po-row provider-confirmation">
            <div class="col-md-4 po-mr-5 value-style">
                <po-decimal p-icon="po-icon-finance" p-min="0" formControlName="value" p-placeholder="Valor"
                    p-label="Valor*"></po-decimal>
                <div class="invalid" formValidator [form]="form" [control]="form.controls.value">Campo inválido.</div>
            </div>
            <div class="col-md-7 date-style">
                <po-datepicker p-placeholder="Data de Encerramento" formControlName="solicitationEndDate"
                    p-label="Data de Encerramento*" required></po-datepicker>
            </div>
        </div>
        <div class="po-row provider-confirmation-buttons">
            <div class="po-md-3">
                <po-button (p-click)="providerSend()" [p-disabled]="!form.valid" p-icon="po-icon po-icon-ok"
                    p-label="Confirmar valor" p-type="primary"></po-button>
            </div>
        </div>
    </form>
</app-show-informations>

<app-show-informations [name]="'Histórico de Solicitações'" #historySolicitation>
    <div *ngIf="solicitation && solicitation?.solicitationHistories">
        <app-table [height]="400" [columns]="getColumnsSolicitationsHistory()"
            [items]="solicitation.solicitationHistories"></app-table>
    </div>
</app-show-informations>