<!-- 
    <app-home></app-home> 
    <app-login></app-login>
    <app-user-register></app-user-register>
    <app-provider-register></app-provider-register>

    <app-menu>
      <app-solicitation></app-solicitation>
    </app-menu>

    <app-menu>
      <app-config></app-config>
    </app-menu>

    <app-menu>
      <app-hist-solicitation></app-hist-solicitation>
    </app-menu>


-->
<!-- <app-menu>
  <app-new-solicitation></app-new-solicitation>
</app-menu> -->

<!-- <app-menu>
  <router-outlet></router-outlet>
</app-menu> -->
<router-outlet></router-outlet>

<router-outlet></router-outlet>
