<div class="container">
  <main>
    <div class="py-5 text-center">
      <h1>Configuração de Perfil</h1>
    </div>

    <div>
      <div>
        <form class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="col-3">
              <label for="zip" class="form-label">CEP</label>
              <input
                type="text"
                class="form-control"
                id="zip"
                placeholder=""
                required
              />
              <div class="invalid-feedback">O campo CEP é obrigatório.</div>
            </div>

            <div class="col-7">
              <label for="address" class="form-label">Endereço</label>
              <input
                type="text"
                class="form-control"
                id="address"
                placeholder="Avenida, Rua.."
                required
              />
              <div class="invalid-feedback">
                Por favor, insira seu endereço.
              </div>
            </div>

            <div class="col-2">
              <label for="address" class="form-label">Número</label>
              <input type="text" class="form-control" id="number" required />
              <div class="invalid-feedback">
                Por favor, insira o número de sua casa.
              </div>
            </div>

            <div class="col-3">
              <label for="email" class="form-label">Contato</label>
              <input type="number" class="form-control" id="email" />
              <div class="invalid-feedback">
                Por favor, insira um endereço de e-mail válido para envio de
                atualizações.
              </div>
            </div>

            <div class="col-md-5">
              <label for="country" class="form-label">Cidade</label>
              <select class="form-select" id="country" required>
                <option value="">Selecione...</option>
                <option>Taquaritinga</option>
                <option>Monte Alto</option>
                <option>Matão</option>
                <option>Araraquara</option>
                <option>Ribeirão Preto</option>
                <option>São Carlos</option>
              </select>
              <div class="invalid-feedback">
                Favor selecionar uma Cidade válida.
              </div>
            </div>

            <div class="col-md-4">
              <label for="state" class="form-label">Estado</label>
              <select class="form-select" id="state" required>
                <option value="">Selecione...</option>
                <option>São Paulo</option>
              </select>
              <div class="invalid-feedback">
                Favor selecionar um Estado válida.
              </div>
            </div>
          </div>

          <hr class="my-4" />

          <div class="row g-3">
            <div class="col-4">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="seuemail@example.com"
              />
              <div class="invalid-feedback">
                Por favor, insira um endereço de e-mail válido para envio de
                atualizações.
              </div>
            </div>

            <div class="col-4">
              <label for="email" class="form-label">Usuário</label>
              <input type="email" class="form-control" id="usuario" />
              <div class="invalid-feedback">
                Por favor, insira um nome de usuário.
              </div>
            </div>

            <div class="col-4">
              <label for="email" class="form-label">Senha</label>
              <input type="password" class="form-control" id="senha" />
              <div class="invalid-feedback">Por favor, insira uma senha.</div>
            </div>
          </div>

          <hr class="my-4" />

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="same-address" />
            <label class="form-check-label" for="same-address"
              >Receber notificações via email</label
            >
          </div>

          <hr class="my-4" />

          <button class="w-100 btn btn-primary btn-lg" type="submit">
            Finalizar Atualização
          </button>
        </form>
      </div>
    </div>
  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2021 Company</p>
  </footer>
</div>

<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

<script src="form-validation.js"></script>
