<div class="container">
  <main>
    <div class="py-3 text-center">
      <h1>Nova Solicitação</h1>
    </div>

    <div>
      <div>
        <form class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="py-1 text-center">
              <h2>SALA</h2>
            </div>

            <div class="col-3">
              <label for="zip" class="form-label">Altura</label>
              <input
                type="text"
                class="form-control"
                id="zip"
                placeholder=""
                required
              />
            </div>

            <div class="col-3">
              <label for="zip" class="form-label">Largura</label>
              <input
                type="text"
                class="form-control"
                id="zip"
                placeholder=""
                required
              />
            </div>

            <div class="col-3">
              <label for="zip" class="form-label">Profundidade</label>
              <input
                type="text"
                class="form-control"
                id="zip"
                placeholder=""
                required
              />
            </div>

            <div class="col-1">
              <label for="exampleColorInput" class="form-label">Cor</label>
              <input
                type="color"
                class="form-control form-control-color"
                id="exampleColorInput"
                value="#563d7c"
                title="Choose your color"
              />
            </div>

            <div class="col-10">
              <div class="input-group">
                <span class="input-group-text">Descrição</span>
                <textarea
                  class="form-control"
                  aria-label="With textarea"
                ></textarea>
              </div>
            </div>

            <div class="py-1 text-center">
              <h2>QUARTO</h2>
            </div>

            <div class="col-3">
              <label for="zip" class="form-label">Altura</label>
              <input
                type="text"
                class="form-control"
                id="zip"
                placeholder=""
                required
              />
            </div>

            <div class="col-3">
              <label for="zip" class="form-label">Largura</label>
              <input
                type="text"
                class="form-control"
                id="zip"
                placeholder=""
                required
              />
            </div>

            <div class="col-3">
              <label for="zip" class="form-label">Profundidade</label>
              <input
                type="text"
                class="form-control"
                id="zip"
                placeholder=""
                required
              />
            </div>

            <div class="col-1">
              <label for="exampleColorInput" class="form-label">Cor</label>
              <input
                type="color"
                class="form-control form-control-color"
                id="exampleColorInput"
                value="#563d7c"
                title="Choose your color"
              />
            </div>

            <div class="col-10">
              <div class="input-group">
                <span class="input-group-text">Descrição</span>
                <textarea
                  class="form-control"
                  aria-label="With textarea"
                ></textarea>
              </div>
            </div>

            <div class="py-1 text-center">
              <h2>COZINHA</h2>
            </div>

            <div class="col-3">
              <label for="zip" class="form-label">Altura</label>
              <input
                type="text"
                class="form-control"
                id="zip"
                placeholder=""
                required
              />
            </div>

            <div class="col-3">
              <label for="zip" class="form-label">Largura</label>
              <input
                type="text"
                class="form-control"
                id="zip"
                placeholder=""
                required
              />
            </div>

            <div class="col-3">
              <label for="zip" class="form-label">Profundidade</label>
              <input
                type="text"
                class="form-control"
                id="zip"
                placeholder=""
                required
              />
            </div>

            <div class="col-1">
              <label for="exampleColorInput" class="form-label">Cor</label>
              <input
                type="color"
                class="form-control form-control-color"
                id="exampleColorInput"
                value="#563d7c"
                title="Choose your color"
              />
            </div>

            <div class="col-10">
              <div class="input-group">
                <span class="input-group-text">Descrição</span>
                <textarea
                  class="form-control"
                  aria-label="With textarea"
                ></textarea>
              </div>
            </div>

            <div class="py-1 text-center">
              <h2>BANHEIRO</h2>
            </div>

            <div class="col-3">
              <label for="zip" class="form-label">Altura</label>
              <input
                type="text"
                class="form-control"
                id="zip"
                placeholder=""
                required
              />
            </div>

            <div class="col-3">
              <label for="zip" class="form-label">Largura</label>
              <input
                type="text"
                class="form-control"
                id="zip"
                placeholder=""
                required
              />
            </div>

            <div class="col-3">
              <label for="zip" class="form-label">Profundidade</label>
              <input
                type="text"
                class="form-control"
                id="zip"
                placeholder=""
                required
              />
            </div>

            <div class="col-1">
              <label for="exampleColorInput" class="form-label">Cor</label>
              <input
                type="color"
                class="form-control form-control-color"
                id="exampleColorInput"
                value="#563d7c"
                title="Choose your color"
              />
            </div>

            <div class="col-10">
              <div class="input-group">
                <span class="input-group-text">Descrição</span>
                <textarea
                  class="form-control"
                  aria-label="With textarea"
                ></textarea>
              </div>
            </div>

            <div class="py-1 text-center">
              <h2>LAVANDERIA</h2>
            </div>

            <div class="col-3">
              <label for="zip" class="form-label">Altura</label>
              <input
                type="text"
                class="form-control"
                id="zip"
                placeholder=""
                required
              />
            </div>

            <div class="col-3">
              <label for="zip" class="form-label">Largura</label>
              <input
                type="text"
                class="form-control"
                id="zip"
                placeholder=""
                required
              />
            </div>

            <div class="col-3">
              <label for="zip" class="form-label">Profundidade</label>
              <input
                type="text"
                class="form-control"
                id="zip"
                placeholder=""
                required
              />
            </div>

            <div class="col-1">
              <label for="exampleColorInput" class="form-label">Cor</label>
              <input
                type="color"
                class="form-control form-control-color"
                id="exampleColorInput"
                value="#563d7c"
                title="Choose your color"
              />
            </div>

            <div class="col-10">
              <div class="input-group">
                <span class="input-group-text">Descrição</span>
                <textarea
                  class="form-control"
                  aria-label="With textarea"
                ></textarea>
              </div>
            </div>
          </div>

          <hr class="my-4" />

          <button class="w-100 btn btn-primary btn-lg" type="submit">
            Finalizar Atualização
          </button>
        </form>
      </div>
    </div>
  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2021 Company</p>
  </footer>
</div>

<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

<script src="form-validation.js"></script>
