<div class="main">
    <div class="content">   
        <div class="header">
            <span>FAÇA PARTE </span>
            <span class="text-muted">COM QUALQUER PERFIL!</span>  
        </div>
        <div class="botton">
            <app-accessor-details 
                [title]="'Você Sonha, '"
                [complement]="'nós construimos'"
                [content]="'Suas ideias aplicadas e contruidas idepentente de seu perfil.'"
                [image]="'../../../../../assets/home/chose-register/inovacao-ideia.png'"
            ></app-accessor-details>
        </div>
        <div class="row">
            <div class="col-md-4">
                <app-card [image]="acessorImage" [content]="content" [title]="'Acessor'">
                    <button type="button" routerLink="/client-register" class="btn btn-outline-danger form-control">Faça Parte</button>
                </app-card>
            </div>
            <div class="col-md-4">
                <app-card [image]="clientImage" [content]="content"  [title]="'Cliente'">
                    <button type="button" routerLink="/client-register" class="btn btn-outline-danger form-control">Faça Parte</button>
                </app-card>
            </div>
            <div class="col-md-4">
                <app-card [image]="providerImage" [content]="content"  [title]="'Fornecedor'">
                    <button type="button" routerLink="/provider-register" class="btn btn-outline-danger form-control">Faça Parte</button>
                </app-card>
            </div>
        </div>
    </div>
</div>