.main {
    margin-top: 5%;
}

.header {
    margin: 4% 0;
    font-size: 3em;
    text-align: center;
}

.content {
    padding: 2%;
    border-radius: 6px;
    margin: 1%;
}

.botton {
    box-shadow: 0px 5px 5px 0px rgb(68 68 68 / 70%);
    padding: 4%;
    margin-top: 2%;
    font-size: 2rem;
    line-height: 100%;
    text-align: center;
    margin-bottom: 3%;
}

.line-card {
    margin-top: 6%;
    padding: 4%;
    border-top: #6c757d solid 2px;
}

.text-detail {
    text-align: center;
    line-height: 70px;
    font-size: 30px;
}