<div class="row mb-3 mt-3">
    <po-button p-label="Adicionar Móvel" p-type="primary" (p-click)="openModal()" p-icon="po-icon po-icon-plus-circle">
    </po-button>
</div>
<po-modal [p-hide-close]="true" p-title="Adicionar Móvel" [p-primary-action]="confirm" [p-secondary-action]="close">
    <form [formGroup]="form">
        <app-divider></app-divider>
        <div class="po-row mt-3 po-mb-2 d-flex justify-content-center">
            <div class="col-md-4 po-mr-3">
                <po-input p-minlength="2" p-maxlength="30" formControlName="name" id="name" p-placeholder="Móvel"
                    required p-label="Móvel*"></po-input>
                <div class="invalid" formValidator [form]="form" [control]="form.controls.name">Campo inválido.</div>
            </div>
            <div class="col-md-2 po-mr-2">
                <po-decimal p-min="0" formControlName="height"  p-placeholder="Altura"  p-label="Altura (M)*"> </po-decimal>
                <div class="invalid" formValidator [form]="form" [control]="form.controls.height">Campo inválido.</div>
            </div>
            <div class="col-md-2 po-mr-2">
                <po-decimal p-min="0" formControlName="width"  p-placeholder="Largura"  p-label="Largura (M)*"></po-decimal>
                <div class="invalid" formValidator [form]="form" [control]="form.controls.width">Campo inválido.</div>
            </div>
            <div class="col-md-3">
                <po-decimal p-min="0" formControlName="length"  p-placeholder="Comprimento"  p-label="Comprimento (M)*"></po-decimal>
                <div class="invalid" formValidator [form]="form" [control]="form.controls.length">Campo inválido.</div>
            </div>
        </div>  
        <div class="po-row d-flex justify-content-center">
            <div class="col-md-11 po-mb-2">
                <po-textarea p-minlength="5" class="description" p-rows="8" formControlName="description" p-label="Descrição*"></po-textarea>
                <div class="invalid" formValidator [form]="form" [control]="form.controls.description">Campo inválido.</div>
            </div>
        </div>
    </form>
</po-modal>

