<div class="page-login">

	<div class="geral">
		<p class="principal">Já possui cadastro?</p>
		<p class="secundario">Digite as informações abaixo para entrar.</p>
		<div>
			<mat-form-field appearance="outline">
				<mat-label>Digite seu email.</mat-label>
				<input matInput placeholder="nome@exemplo.com.br" [formControl]="email" #email required>
				<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
			</mat-form-field>
		</div>
  
		<div>
			<mat-form-field appearance="outline">        
				<mat-label>Digite sua senha.</mat-label>
				<input matInput [type]="hide ? 'password' : 'text'" #senha required>
				<button class="olho" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
				<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
				</button>
			</mat-form-field><br/>
			<button mat-button class="button" (click)="loginUser(email.value, senha.value)">Entrar</button>
			<!-- <div class="link">Esqueceu sua senha? <a href=""><strong>Clique aqui.</strong></a></div> -->
      <br/>      
	  <div class="link">Ainda não tem cadastro? <a routerLink="/login" routerLinkActive="selected"><strong>Clique aqui.</strong></a></div>
		</div>
   
	</div>


<!--
 <div class="form">
    <main class="form-signin">
       <img class="logo" src="../assets/logo-brown.png" alt="Logotipo"> 
      <h1 class="h1">Login</h1>
      <label for="inputEmail" class="visually-hidden">Endereço de Email</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email" #email required autofocus>
      <br />

      <label for="inputPassword" class="visually-hidden">Senha</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Senha" #senha required>

      <button class="btn btn-lg btn-primary" (click)="loginUser(email.value, senha.value)">Entrar</button>
    </main>
</div> 

-->
