<app-header>
    <div class="d-flex">
        <button class="btn btn-outline-success me-2" routerLink="choose-register" type="button">
            Criar Conta
        </button>

        <button class="btn btn-outline-success" routerLink="/login" type="button">Sing-in</button>
    </div>
</app-header>
<app-home-content></app-home-content>
<app-bottom>
    <strong class="float-end"><a href="#"><span class="po-icon po-icon-arrow-up icon"></span></a></strong>
    <p>&copy; 2021 Accessor Planner, Inc.</p>

    <hr class="featurette-divider" />
</app-bottom>