::ng-deep .po-button-primary {
    color:white;
    background-color: brown;
    border-color: brown;
}

::ng-deep .po-button-primary:hover {
    color:white;
    background-color: grey;
    border-color: grey;
}

::ng-deep .po-icon.po-icon-export:before {
    color: brown;
}