<main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/carrosel (1).jpg" class="img-fluid d-block" />
  
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Missão</h1>
              <p>Você sonha, nós planejamos e construímos.</p>
              <p>
                <a class="btn btn-lg btn-primary" href="#">Sign up today</a>
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/carrosel (2).jpg" class="img-fluid d-block" />
  
          <div class="container">
            <div class="carousel-caption">
              <h1>Visão</h1>
              <p>
                Conquistar a fidelidade dos nossos clientes e a confiança dos
                nossos fornecedores, garantindo a nossa permanência no mercado
                como uma empresa idônea, adaptando-se ao propósito para o qual se
                destina.
              </p>
              <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/carrosel (3).jpg" class="img-fluid d-block" />
  
          <div class="container">
            <div class="carousel-caption text-end">
              <h1>Valores</h1>
              <p>
                Qualidade nos projetos; Pontualidade; Confiança; Ética; Respeito;
                Valorização profissional.
              </p>
              <p>
                <a class="btn btn-lg btn-primary" href="#">Browse gallery</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <img class="imgIcons" src="assets/sofa.png" />
          <h2>Sala</h2>
          <p>
            A sala é um ambiente social que deve atender as necessidades dos
            moradores no dia a dia e também receber convidados. A otimização do
            espaço pode ser feita com móveis sob medida, ideais para quem deseja
            aproveitar cada m². Assim, a sala planejada consegue atender todas as
            expectativas para essa proposta, aliando conforto e beleza.
          </p>
        </div>
  
        <div class="col-lg-4">
          <img class="imgIcons" src="assets/kitchen.png" />
          <h2>Cozinha</h2>
          <p>
            Receber convidados e preparar as refeições na cozinha virou sinônimo
            de bem-estar e diversão. Antes, a cozinha comportava somente os itens
            básicos para uso e atualmente, a melhor maneira de decorá-la é poder
            aproveitar com perfeição o espaço disponível, criando um ambiente,
            prático, funcional e sofisticado.
          </p>
        </div>
  
        <div class="col-lg-4">
          <img class="imgIcons" src="assets/bed.png" />
          <h2>Quarto</h2>
          <p>
            O cantinho mais confortável de uma casa deve ser o quarto, por ser um
            ambiente de descanso essencial para relaxar e recarregar as energias.
            Desse modo, é importante que o ambiente seja bem decorado, agradável e
            prático. Uma ótima ideia para aproveitar ao máximo o espaço do cômodo
            é investir em móveis planejado e sob medida.
          </p>
        </div>
      </div>
  
      <hr class="featurette-divider" />

      <div *ngFor="let details of accessorDetails">
        <app-accessor-details 
          [title]="details.title"
          [complement]="details.complement"
          [content]="details.content"
          [image]="details.image"
          [order]="accessorDetails.indexOf(details) % 2 == 0 ? '' : 'order-md-2'">
        </app-accessor-details>
      
        <hr class="featurette-divider" />
      </div>
    </div>
  </main>
