::ng-deep .po-button-primary {
    color:white;
    background-color: brown;
    border-color: brown;
}

::ng-deep .po-button-primary:hover {
    color:white;
    background-color: grey;
    border-color: grey;
}

.file ::ng-deep .po-button {
    width: 50%;
}

::ng-deep .po-icon.po-icon-upload-cloud:before {
    font-size: 40px;
    text-align: center;
    color: brown;
}

::ng-deep .po-icon.po-icon-eye:before {
    text-align: center;
    color: brown;
}

.description {
    resize: none
}
