<div class="row mb-3 mt-3">
    <po-button p-label="Adicionar Comodo" p-type="primary" (p-click)="openModal()" p-icon="po-icon po-icon-plus-circle">
    </po-button>
</div>
<po-modal [p-hide-close]="true" p-title="Adicionar Comodo" [p-primary-action]="getOperation()"
    [p-secondary-action]="close">
    <form [formGroup]="form">
        <app-divider></app-divider>
        <div class="po-row mt-3 po-mb-2 d-flex justify-content-center">
            <div class="col-md-8">
                <po-input p-minlength="2" p-maxlength="30" formControlName="name" id="name" p-placeholder="Comodo"
                    required p-label="Comodo*"></po-input>
                <div class="invalid" formValidator [form]="form" [control]="form.controls.name">Campo inválido.</div>
            </div>
            <div class="col-md-3 po-ml-2">
                <po-decimal p-min="0" formControlName="metreage" p-placeholder="M²"  p-label="M²*"> </po-decimal>
                <div class="invalid" formValidator [form]="form" [control]="form.controls.metreage">Campo inválido.</div>
            </div>
        </div>
        <div class="position-view">
            <span (click)="openFiles()" class="po-icon po-icon-eye"></span>
        </div>
        <div class="upload-rooms">
            <!-- <span class="po-icon po-icon-upload-cloud po-clickable" (click)="selectFile()"></span> -->
            <po-upload name="upload-solicitation" 
                formControlName="storage"
                p-hide-select-button
                p-drag-drop="true"
                p-drag-drop-height="10"
                p-multiple="true"
                p-url=" "
                [p-restrictions]="uploadRestrictions"
                p-hide-send-button p-required>
            </po-upload>
        </div>
        <div class="po-row description-position">
            <div class="col-md-12 po-mt-2 po-mb-2">
                <po-textarea p-minlength="5" class="description" p-rows="8" formControlName="description" p-label="Descrição* "> </po-textarea>
                <div class="invalid" formValidator [form]="form" [control]="form.controls.description">Campo inválido.</div>
            </div>
        </div>
        <app-divider [title]="'Móveis'"></app-divider>
        <div class="po-row">
            <app-modal-furniture (addFurniture)="addFurniture($event)"></app-modal-furniture>
        </div>
        <div class="table-room">
            <app-table [height]="400" [columns]="getColumns()" [items]="getItems()"></app-table>
        </div>
    </form>
</po-modal>

<app-show-informations [name]="'Descrição'" #information>
    <div *ngIf="showFurniture">
        <div class="po-row d-flex justify-content-center">
            <div class="col-md-11 po-mb-2">
                <app-divider [title]="showFurniture.name"></app-divider>
                <textarea readonly [value]="showFurniture.description" class="form-control description" id="description"
                    rows="8"></textarea>
            </div>
        </div>
    </div>
</app-show-informations>

<app-show-informations [name]="'Arquivos'" #files>
    <po-slide [p-slides]="slideFiles"> </po-slide>
</app-show-informations>