<div class="row mb-3 mt-3">
    <po-button p-label="Adicionar Comodo" p-type="primary" (p-click)="openModal()" p-icon="po-icon po-icon-plus-circle">
    </po-button>
</div>
<po-modal [p-hide-close]="true" p-title="Adicionar Comodo" [p-primary-action]="getOperation()"
    [p-secondary-action]="close">
    <form [formGroup]="form">
        <app-divider></app-divider>
        <div class="po-row mt-3 po-mb-2 d-flex justify-content-center">
            <div class="col-md-5 po-ml-4 po-mr-3">
                <po-input p-minlength="2" p-maxlength="30" formControlName="name" id="name" p-placeholder="Comodo"
                    required p-label="Comodo*"></po-input>
                <div class="invalid" formValidator [form]="form" [control]="form.controls.name">Campo inválido.</div>
            </div>
            <div class="col-md-3 po-mr-5">
                <po-decimal p-min="0" formControlName="metreage" p-placeholder="M²"  p-label="M²*"> </po-decimal>
                <div class="invalid" formValidator [form]="form" [control]="form.controls.metreage">Campo inválido.</div>
            </div>
            <div class="col-md-2 po-ml-3 po-mt-3 file">
                <span class="po-icon po-icon-upload-cloud po-clickable" (click)="upload.selectFiles()"></span>
                <!-- <po-upload #upload name="project" p-hide-select-button
                    p-hide-send-button p-required p-url="https://thf.totvs.com.br/sample/api/uploads/addFile">
                </po-upload> -->
            </div>
        </div>
        <div class="po-row d-flex justify-content-center">
            <div class="col-md-11 po-mb-2">
                <po-textarea p-minlength="5" class="description" p-rows="8" formControlName="description" p-label="Descrição* "> </po-textarea>
                <div class="invalid" formValidator [form]="form" [control]="form.controls.description">Campo inválido.</div>
            </div>
        </div>
        <app-divider [title]="'Móveis'"></app-divider>
        <div class="po-row">
            <app-modal-furniture (addFurniture)="addFurniture($event)"></app-modal-furniture>
        </div>
        <div class="table-room">
            <app-table [height]="400" [columns]="getColumns()" [items]="getItems()"></app-table>
        </div>
    </form>
</po-modal>

<app-show-informations [name]="'Descrição'" #information>
    <div *ngIf="showFurniture">
        <div class="po-row d-flex justify-content-center">
            <div class="col-md-11 po-mb-2">
                <app-divider [title]="showFurniture.name"></app-divider>
                <textarea readonly [value]="showFurniture.description" class="form-control description" id="description"
                    rows="8"></textarea>
            </div>
        </div>
    </div>
</app-show-informations>