::ng-deep .po-button-primary {
    color:white;
    background-color: brown;
    border-color: brown;
}

::ng-deep .po-button-primary:hover {
    color:white;
    background-color: grey;
    border-color: grey;
}

.file ::ng-deep .po-button {
    width: 50%;
}

::ng-deep .po-icon.po-icon-upload-cloud:before {
    font-size: 55px;
    text-align: center;
    color: brown;
}

::ng-deep .po-icon.po-icon-eye:before {
    text-align: center;
    color: brown;
}

.description {
    resize: none;
}

.invalid {
    opacity: 0;
}

.upload-rooms {
    padding: 1%;
}

.description-position {
    padding: 1%;
}

.upload-rooms ::ng-deep .po-upload-drag-drop-area-select-files {
    color: brown;
}

.po-icon.po-icon-eye:before {
    font-size: 25px;
}

.position-view {
    margin-left: 1%;
}